head {
    margin: 0% 0% 0% 0%;
}

body {
    margin: 0px 0px 0px 0px;
    background-color: #d9c5ac;
    height: 100%;
    
}
.nav ul {
    list-style-type: none; 
    font-size: 1.33vw;
    background-color: lightskyblue;
    font-family: 'Newsreader', serif;
    text-align: center;
    align-content: center;
    overflow: hidden;
    margin: 0% 0% 0% 0%;
}
.nav li {
    float: left;
    text-align: center;
}
.nav li a {
    display: inline-block;
    color: black;
    padding: 2.5vw 3.99vw 2.5vw 3.99vw;
    text-decoration: none;
    margin: 0%;
}
.nav li a:hover {
    color: black;
    background-color: orange;
}