/*layout for first row of text and pictures*/
#row1{
    display: inline-block;
}
/*layout for second row of text and pictures*/
#row2{
    align-content: left;
    padding-top: 30%;
}
/*text for row 1 formatting*/
#about-me-text-1{
    display: inline-block;
    font-family: 'EB Garamond', serif;
    font-weight: normal;
    font-size: 20px;
    text-align: left;
    line-height:40px;
    padding-bottom: 15px;
    position: absolute;
    border: solid 3px;
    border-color: #ff7d19;
}
/*text for row 2 formatting*/
#about-me-text-2{
    display:inline-block;
    font-family:'EB Garamond',serif;
    font-weight:normal;
    font-size: 20px;
    text-align: left;
    line-height:40px;
    border:solid 3px;
    border-color:#ff7d19;
    position:absolute;
}
/*adding logo and attribution for cadets logo*/
#cadets-logo{
    position:absolute;
    left: 58%;
}
#attribution-cadets-logo{
    position:relative;
    top: 350px;
    left: 840px;
    text-align: left;
    font-family: 'EB Garamond', serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
}
/*image and attribution for Stephen Curry image*/
#curry-2016{
    position: absolute;
    left: 72%;
    top: 31%;
}
#attribution-curry-2016{
    position:relative;
    top: 335px;
    left: 1050px;
    text-align: left;
    font-family: 'EB Garamond', serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
}
/*image and attribution formatiing for Good Doctor logo*/
#good-doc-logo{
    position: absolute;
    left: 55%;
}
#attribution-good-doc-logo{
    position: absolute;
    left: 59%;
    top:850px;
    text-align: left;
    font-family: 'EB Garamond', serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
}
/*image and attribution formatiing for stock board logo*/
#stock-board{
    position: relative;
    left: 810px;
    top: 160px;
}
#attribution-stock-board{
    position: relative;
    left: 820px;
    top: 163px;
    text-align: left;
    font-family: 'EB Garamond', serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
}
/* bottom navigation formatting specific to webpage*/
footer{
    position:absolute;
    top: 1195px !important;
}
