#row1{
    display: inline-block;
}
#row2{
    align-content: left;
    padding-top: 30%;
}
#about-me-text-1{
    display: inline-block;
    font-family: 'EB Garamond', serif;
    font-weight: normal;
    font-size: 20px;
    text-align: left;
    line-height:40px;
    padding-bottom: 15px;
    position: absolute;
    border: solid 3px;
    border-color: #ff7d19;
}
#about-me-text-2{
    display:inline-block;
    font-family:'EB Garamond',serif;
    font-weight:normal;
    font-size: 20px;
    text-align: left;
    line-height:40px;
    border:solid 3px;
    border-color:#ff7d19;
    position:absolute;
}
#cadets-logo{
    position:absolute;
    left: 58%;
}
#attribution-cadets-logo{
    position:relative;
    bottom: 45%;
}
#curry-2016{
    position: absolute;
    left: 72%;
}
#good-doc-logo{
    position: absolute;
    left: 55%;
}
#stock-board{
    position: relative;
    left: 810px;
    top: 160px;
}
footer{
    position:absolute;
    top: 1155px !important;
}
