/*text for webpage*/
.tech-exp-text{
    display: inline-block;
    font-family: 'EB Garamond', serif;
    font-weight: normal;
    font-size: 20px;
    text-align: left;
    line-height:40px;
    padding-bottom: 15px;
    position: absolute;
    border: solid 3px;
    border-color: #FD7F20;
}
/*navigation bar format specific to webpage*/
.bottom-navbar{
    position:absolute;
    top:480px;
}
/*positoning of text on page*/
#text-div{
    text-align: center;
    vertical-align: top;
}
/*Robotics picture and attribution*/
#frc-comp{
    position: absolute;
    right: 870px;
}
#attribution-frc-comp{
    position: absolute;
    right:1265px;
    top:735px;
    text-align: left;
    font-family: 'EB Garamond', serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
}